[submodule "agent/episodic/corpus"]
	path = agent/episodic/corpus
	url = git@github.com:s-ajensen/pi-corpus.git
[submodule "agent/extensions/pi-meta"]
	path = agent/extensions/pi-meta
	url = git@github.com:s-ajensen/pi-meta.git
[submodule "agent/sessions"]
	path = agent/sessions
	url = git@github.com:s-ajensen/pi-sessions.git
[submodule "agent/skills/services"]
	path = agent/skills/services
	url = git@github.com:s-ajensen/pi-skills-services.git
